.rowName
    font-size: 32px
    margin-bottom: 20px
.box
    padding: 20px

.language
    background-color: blue
    color: white
    padding: 0 10px
    border-radius: 20px
    min-width: 50px
    text-align: center

.wrapper
    display: flex
    justify-content: space-between

.star
    position: relative

.star:before
    position: absolute

.boxValue
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin: 20px 0

.value
    background-color: #eeeeee
    color: #000000
    border-radius: 20px
    padding: 0 20px
    text-align: center
    margin: 10px 10px 10px 0
